.carousel-carts {
  display: flex;
  list-style-type: none;
  gap:25px;
  overflow-x: hidden;
}

.carousel-item {
  flex: 0 0 20%;
  display: none;
  box-sizing: border-box;
}


.carousel-seller-cards {
  position: relative;
  width: 100%;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.carousel-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


.carousel-dots button {
  width: 15px;
  height: 15px;
  padding: 0;
  border-radius: 50%;
  background-color: #dadada;
  transition: background-color 0.3s ease;
}

.seller-cards .carousel-dots button:focus button:hover {
  background-color:#000 ;
}

.cards .carousel-dots .active {
  background-color: #131313;
}

.carousel-prev,
.carousel-next {
  display: none;
}


.seller-cards>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.seller-cards .seller-cards-card-body {
  margin: 16px;
}


.seller-cards .seller-cards-card-image {
  line-height: 0;
}

.seller-cards>ul>li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;

/* }

#top-sellers- {
  text-align: center;
  color: #4d4d4d;
  align-items: center;
  font-size:2em;
  font-weight: 300;
} */

.seller-cards .carousel-image{
  width: 180px;
  height: 150px;
}

.seller-cards .carousel-body p{
  font-size: 15px;
  font-weight: bold;
  color: #797979ad;
}

.carousel-carts .carousel-item .carousel-body .button-container a:link{
  color: #fff;
  line-height: 18px;
  padding: 5px 10px;
  font-size: small;
}

@media screen and (width <= 900px) {
  .carousel-seller-cards ul {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      font-size: 12px;
  }

  .carousel-seller-cards ul li {
      min-width: 41vw;
  }

  .carousel-seller-cards ul li img {
      width: 100%;
  }
}}