.footer-section-wrapper{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.footer-section-wrapper ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding:0;
}

.footer-section-wrapper ul li{
    margin-right: 6px;
    width:100%;
    line-height: 26px;
}


.footer-section-wrapper ul > li > ul {
    display: inline;
}

.footer-section-wrapper ul > li > ul >li > ul{
    margin-top: 1rem;
    display: flex;
    align-items: right;
}

.footer-section-wrapper ul > li > ul >li > ul>li{
    cursor: pointer;
    width: 38%;
}



.footer-section ul> li:last-child> ul > li:last-child a[title = "Subscribe"]{
    margin-top: 10px !important;
    background: #f8f8f8;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 7px 20px;
    text-align-last: right;
    text-decoration: none;
    color: #000;
    display: flex;
    font-style: normal;
    justify-content: end;
    
}

.footer-section-wrapper ul > li> span .icon{
    display: flex;
    margin-right: 0;
    width:20%;
}

.footer-section-wrapper .icon .icon-logo-icon .icon img{
    height: auto;
    width:100px;
}

.icon-logo-icon{
    width:135px;
}

.footer-wrapper .cards-wrapper .cards > ul > li{
   display:inline-grid;
   border: none;
   background: none;
   margin: 0 36px;
   text-align: center;

   /* width: 160%; */
   width: 100%;
   font-size: var(--body-font-size-xs);
}

footer  .cards-wrapper .cards > ul{
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr)); 
}

@media (width <= 1024px) {
    footer .footer > div {
        grid-template-columns: repeat(6, minmax(0, 1fr));
        row-gap: 3rem;
    }

    .cards .cards-card-body p{
        font-size: var(--body-font-size-xs);
    }
  }
  

  @media screen and (width >=400px) and (width <=800px){
    .footer-section-wrapper div:nth-child(3) ul{
      display: inline-block;
    }

    .footer-section-wrapper .cards-wrapper .cards > ul{
        display: inline;
    }
  
  }

  @media (width <= 800px){
    .footer-section-wrapper  ul{
      display: inline;
    }
  
  }